@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Raleway:wght@400&display=swap');

body {
    width: 100%;
    left: 0;
    background-color: #080808;
    font-family: 'Lato', sans-serif;
    color: #b7b7ce; 
  }
